{% extends "listings/base.html" %}

{% block content %}
<div class="bg-blue-50 px-2 py-2 rounded-sm">
    <h3 class="text-3xl text-gray-900">{{ listing.title }}</h3>
    <p class="text-xl text-gray-900"> ${{ listing.price }} </p>
    <p class="text-sm text-gray-900"> {{ listing.address }} </p>
    <div class="border-t border-gray-300 mt-3 py-3">
        <a href="{% url 'update' listing.id %}" class="text-blue-600">Edit</a>
        <a href="{% url 'delete' listing.id %}" class="text-blue-600 ml-4">Delete</a>
    </div>
    
</div>
{% endblock content %}